{% extends 'base.html.twig' %}

{% block title %}Toutes les sessions de la formation {{formation.nom}} {% endblock %}

{% block body %}
<table>
    <thead>
        <tr>
            <th> Intitulé Session</th>
            <th> Date de début</th>
            <th> Date de fin</th>
            <th> Nombre de places théoriques</th>
            <th> Nombre de places réservées</th>
            <th> Nombre de places restantes</th>
            <th> Ajout de stagiaire</th>
        </tr>
    </thead>
    {% for session in formation.sessions %}
       <tr>
            <td><a href="{{path('show_session',{"id":session.id})}}">{{ session.intitule }} </a></td>
            <td>{{ session.dateDebut }} </td>
            <td>{{ session.dateFin }} </td>
            <td>{{ session.nombrePlaces }} </td>
            <td>{{session.stagiaires|length}}</td>
            <td>{{session.nombrePlaces - session.stagiaires|length}} </td>
            <td></td>
            <td></td>
        </tr>

    {% endfor %}
   <a href="{{ path('add_session', {'idFormation':formation.id})}}"> Ajouter une session</a>


    
 <table>
{% endblock %}