{% extends 'base.html.twig' %}

{% block title %}Stagiaire{% endblock %}


{% block body %}

<ul class="infos">
    <li> {{ stagiaire.nom }} {{stagiaire.prenom}}</li>
    <li> {{ stagiaire.DateNaissance|date("m/d/Y") }}</li>
    <li> {{ stagiaire.email }}</li>
    <li>{{ stagiaire.telephone }}</li>
</ul>

<ul class="session">

</ul>

{% endblock %}
