{% extends 'base.html.twig' %}

{% block title %}{{session.intitule}}{% endblock %}


{% block body %}

<h1>{{ session.intitule }}</h1>

<table class="module">
    <thead>
        <tr>
            <th> Module</th>
            <th> Nombre jours</th>
        </tr>
    </thead>
    <tbody>
    {% for prog in session.programmations %}
       <tr>
          <td>{{prog.module.nom}}</td>
          <td>{{prog.nombreJours}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<table class="stagiaireinscrit">
    <thead>
        <tr>
            {# la commande length permet de compter le nombre de stagiaire dans ma table #}
            <th> Stagiaires inscrits  {{session.stagiaires|length}}/{{session.nombrePlaces}}</th>
            <th>Désinscrire</th>
        </tr>
    </thead>
    <tbody>
    {% for stagiaire in session.stagiaires %}
       <tr>
          <td>{{stagiaire._toString}}</td>
          <td><a href="{{ path('removeStagiaire', {'idSe': session.id, 'idSt': stagiaire.id}) }}"><img src="public/assets/Images/supprimer.png"></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<table class="stagiairenoninscrit">
    <thead>
        <tr>
            {# la commande length permet de compter le nombre de stagiaire dans ma table #}
            <th> Stagiaire non inscrits</th>
            <th> Inscrire</th>
        </tr>
    </thead>
    <tbody>
    {% for stagiaire in nonInscrits %}
       <tr>
        <td>{{ stagiaire.nom}}</a></td>
        <td><a href="{{ path('addStagiaire', {'idSe': session.id, 'idSt': stagiaire.id}) }}">Ajout Image</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<h1> Ajouter un module</h1>

       {{form_start(formAddModule)}}

            {{form_row(formAddModule.nom)}}
            {{form_row(formAddSession.categorie)}}
            {{form_row(formAddSession.nombreJours)}}
            {{form_row(formAddSession.submit)}}


       {{form_end(formAddSession)}}


{% endblock %}