{% extends 'base.html.twig' %}

{% block title %}{{session.intitule}}{% endblock %}


{% block body %}

<h1>{{ session.intitule }}</h1>

<table class="module">
    <thead>
        <tr>
            <th> Module</th>
            <th> Nombre jours</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
    {% for prog in session.programmations %}
       <tr>
          <td>{{prog.module.nom}}</td>
          <td>{{prog.nombreJours}}</td>
          <td><a href="{{ path('removeProgrammation',{'idSe': session.id, 'idMo': prog.module.id})}}"</a>Image</td>
        </tr>
    {% endfor %}
    </tbody>
</table><br>

<h1>Les stagiaires</h1>

<table class="stagiaireinscrit">
    <thead>
        <tr>
            {# la commande length permet de compter le nombre de stagiaire dans ma table #}
            <th> Stagiaires inscrits  {{session.stagiaires|length}}/{{session.nombrePlaces}}</th>
            <th>Désinscrire</th>
        </tr>
    </thead>
    <tbody>
    {% for stagiaire in session.stagiaires %}
       <tr>
          <td>{{stagiaire._toString}}</td>
          <td><a href="{{ path('removeStagiaire', {'idSe': session.id, 'idSt': stagiaire.id}) }}"><img src="public/assets/Images/supprimer.png"></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table><br>
<table class="stagiairenoninscrit">
    <thead>
        <tr>
            {# la commande length permet de compter le nombre de stagiaire dans ma table #}
            <th> Stagiaire non inscrits</th>
            <th> Inscrire</th>
        </tr>
    </thead>
    <tbody>
    {% for stagiaire in nonInscrits %}
       <tr>
        <td>{{ stagiaire.nom}}</td>
        <td><a href="{{ path('addStagiaire', {'idSe': session.id, 'idSt': stagiaire.id}) }}">Ajout Image</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table><br>


<h1> Liste Modules non utilisés </h1>

<table class="modulenonutilisé">
    <thead>
        <tr>
            {# la commande length permet de compter le nombre de stagiaire dans ma table #}
            <th> Module non utilisé</th>
            <th>Nombre de jours</th>
            <th> Ajouter</th>
        </tr>
    </thead>
    <tbody>
    {% for module in nonUtilises %}
       <tr>
        <td>{{ module.nom}}</td>
        <td>
            <form action="{{ path('addProgrammation', {'idSe': session.id, 'idMo': module.id})}}" method="post">
                    <label for="nombrejours"></label>
                    <input type="number" name="nombreJours" value="1" min="1" max="365">
        <td><input type="submit" value="Ajouter"></td>
            </form>
    </tr>
    {% endfor %}
    </tbody>


{% endblock %}